name: CI/CD - Tests et Couverture

on:
  push:
  pull_request:
jobs:
  backend-tests:
    name: Tests Back-end Java
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: back
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      
      - name: Build, Run Tests & Generate Coverage Report
        run: mvn -B clean verify
      
      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-report
          path: back/target/site/jacoco/
